<ul nz-menu [nzTheme]='nzTheme' [nzMode]='nzMode'>

  <!-- ログインしている -->
  <li *ngIf='afAuth.authState | async'
    nz-menu-item
    class='auth'
    [routerLinkActiveOptions]='routerLinkActiveOptions'
    routerLinkActive='ant-menu-item-selected'
    routerLink='/settings'>
    <span class='anticon anticon-setting'></span>
  </li>

  <!-- ログインしている -->
  <li *ngIf='afAuth.authState | async'
    nz-menu-item
    class='auth'
    [routerLinkActiveOptions]='routerLinkActiveOptions'
    routerLinkActive='ant-menu-item-selected'
    routerLink='/{{afAuth.auth.currentUser.uid}}'>
    <span class='anticon anticon-user'></span>
  </li>

  <!-- ログインしていない -->
  <li *ngIf='!(afAuth.authState | async)'
    nz-menu-item
    class='auth'
    [routerLinkActiveOptions]='routerLinkActiveOptions'
    routerLinkActive='ant-menu-item-selected'
    routerLink='/login'>
    <span class='anticon anticon-poweroff'></span>
  </li>

  <!-- メニューの項目 -->
  <li *ngFor='let link of links'
    nz-menu-item
    [routerLinkActiveOptions]='routerLinkActiveOptions'
    routerLinkActive='ant-menu-item-selected'
    [routerLink]='link.path'>
    <span [class]='link.icon'></span>
  </li>

</ul>
