:host {
  display: block;
}

.ant-menu-item {
  text-align: center;
}

.ant-menu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.auth {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ant-menu-inline, .ant-menu-vertical {
  border-right: none
}

.ant-menu-item .anticon {
  font-size: 16px;
  margin-right: 0;
}
