:host {
}

input[type='file'] {
  display: none;
}

.text-field {
  padding-left: 8px;
}

.actions {
  padding: 8px 8px 0;
  display: flex;
  justify-content: flex-end;
}

.actions .input {
  margin-left: 10px;
}

.images {
  padding-top: 8px;
}

.images .image-avater {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}

.error {
  padding-top: 8px;
}
