:host {
}

input[type='file'] {
  display: none;
}

.text-field {
  padding-left: 8px;
}

.block-actions {
  padding: 8px 8px 0;
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 8px;
  }
}

.block-images {
  padding-top: 8px;
  .image {
    display: inline-block;
    width: 80px;
    height: auto;
    vertical-align: top;
    margin-right: 8px;
  }
}

.error {
  padding-top: 8px;
}
