:host > div {
  margin: 0 auto;
  max-width: 600px;
  padding: 8px;
}

.spinner {
  padding: 100px 0 0;
  text-align: center;
}

.icon {
  padding-top: 40px;
}

.icon ::ng-deep .ant-upload-select {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon ::ng-deep .ant-avatar {
  display: block;
  height: 100%;
  font-size: 100px;
  width: 100%;
  background: white;
  color: gray;
}

.icon ::ng-deep .anticon {
  line-height: 200px;
}

.form {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 280px;
}

.form-helper {
  padding-top: 8px;
  opacity: 0.8;
}
