service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
    	allow read;
    }
    match /posts-as-anonymous/{postId} {
    	allow read;
    }
    match /posts-as-photo/{postId} {
    	allow read;
    }
    match /posts-as-thread/{postId} {
    	allow read;
    }
    match /users/{userId} {
    	allow read;
      match /posts/{postId} {
        allow read: if request.auth.uid == resource.data.ownerId;
      }
    }
  }
}
