<div class="profile-icon">

  <!-- アップロード アイコン -->
  <nz-upload class="avatar-uploader"
             nzName="avatar"
             [nzShowUploadList]="false"
             (nzChange)="onUpload($event)">
    <ng-container *ngIf="file">
      <img [src]="file.thumbUrl" class="avatar">
    </ng-container>
    <ng-container *ngIf="!file">
      <!-- アイコン未設定 -->
      <i *ngIf="!photoURL" class="anticon anticon-plus avatar-uploader-trigger"></i>
      <!-- アイコン -->
      <img *ngIf="photoURL" [src]="photoURL" class="avatar">
    </ng-container>
  </nz-upload>

</div>

<div class="displayName">

  <ng-container *ngIf="afAuth.authState | async">
    <h1 class="mat-h1">
      {{afAuth.auth.currentUser.displayName}}
    </h1>
  </ng-container>

</div>

<div class="posts">

  <nz-card>
    <ng-template #body>
      <p>ここにはプロフィール機能が追加される予定です。</p>
    </ng-template>
  </nz-card>

</div>
