.profile-icon {
  padding-top: 40px;
}

.avatar-uploader {
  margin: 0 auto;
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .ant-upload {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .avatar-uploader-trigger {
  font-size: 28px;
  color: #999;
}

.displayName {
  padding-top: 40px;
  text-align: center;
}

.profile {
  padding: 10px;
}

.logout {
  padding-top: 36px;
}
