input[type='file'] {
  display: none;
}

.mdc-typography {
  padding-left: 8px;
  padding-right: 8px;
}

.mdc-text-field--padding {
  padding-left: 8px;
}

.block-form {
  padding-top: 24px;
}

.block-icon {
  padding-top: 40px;

  .icon {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    background: gray;
  }

  .icon .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }
}
