<app-header></app-header>

<div>
  <div *ngIf='!isQuery && isNotFound'>
    <p>ログインが必要です</p>
  </div>

  <ng-container *ngIf='!isQuery && !isNotFound'>
    <!-- 簡易 プロフィール -->
    <div class='profile' nz-row nzType='flex' nzGutter='16' nzAlign='middle'>
      <span nz-col>
        <nz-avatar class='icon' nzText='?' [nzSrc]='photoURL|resize'></nz-avatar>
      </span>
      <h2 nz-col>Hi, {{displayName}}</h2>
    </div>

    <!-- メニュー -->
    <ul class='menu'>
      <li nz-row nzGutter='8' routerLink='/settings/profile'>
        <i nz-col class='anticon anticon-user'></i>
        <span nz-col>プロフィール</span>
      </li>
      <li nz-row nzGutter='8' routerLink='/settings/username'>
        <i nz-col class='anticon anticon-code-o'></i>
        <span nz-col>識別子</span>
      </li>
      <li nz-row nzGutter='8' routerLink='/settings/password'>
        <i nz-col class='anticon anticon-key'></i>
        <span nz-col>パスワード</span>
      </li>
      <li nz-row nzGutter='8' (click)='onLogoutModal()'>
        <i nz-col class='anticon anticon-poweroff'></i>
        <span nz-col>ログアウト</span>
      </li>
    </ul>
  </ng-container>
</div>

<nz-modal
  [nzVisible]='isShowModal'
  [nzContent]='content'
  [nzClosable]='nzClosable'
  [nzOkText]='nzOkText'
  [nzCancelText]='nzCancelText'
  (nzOnOk)='onLogout()'
  (nzOnCancel)='onCancelLogoutModal()'>
  <ng-template #content>
    <p>ログアウトしてもいいですか？</p>
  </ng-template>
</nz-modal>
