:host {
  display: block;
}

:host:hover {
  background: rgba(0, 0, 0, 0.01);
}

:host a {
  color: inherit;
}

:host a:hover {
  background: rgba(0, 0, 0, 0.05);
}

:host ::ng-deep .ant-tag-root .ant-tag {
  margin-right: 0;
  margin-left: 5px;
}

:host ::ng-deep .ant-btn-circle {
  border: none;
}

:host ::ng-deep .ant-card-body {
  padding: 8px;
}

/* Template List Item */

.template-list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Template Content */

.template-content {
  padding: 8px;
}

.template-content > p {
  white-space: pre-wrap;
}

.template-content .createdAt {
  padding-left: 10px;
  font-size: 0.8rem;
  opacity: 0.4;
}

/* Template PhotoURLs */

.photoURLs {
  padding: 8px 8px 0 8px;
}

.photoURLs .item {
  flex: auto;
  width: 100px;
  max-width: 400px;
}

.photoURLs img {
  width: 100%;
}

/* Template Actions */

.template-actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0 10px 5px;
}

.template-actions .tag {
  padding: 5px 0;
}

.template-actions .edit {
  margin-left: 10px;
}

.template-actions .reply {
  margin-left: 5px;
}

/* Template Reply */

.template-reply {
  padding: 0 10px 10px;
}
