:host {
  display: block;
  padding: 0 8px;
}

:host:hover {
  background: rgba(0, 0, 0, 0.01);
}

p {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

.template-replyPostId {
  padding: 8px 0 0 0;

  a {
    color: tomato;
    cursor: pointer;
  }

  a::before {
    content: 'To ';
  }
}

.template-content {
  padding: 8px 0 0 0;

  .text {
    white-space: pre-wrap;
  }

  .createdAt {
    padding-left: 8px;
    font-size: 0.8rem;
    opacity: 0.4;
  }
}

.template-photoURLs {
  padding: 8px 8px 0 8px;
  img {
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
    font-size: 0;
  }
}

.template-actions {
  display: flex;
  align-items: flex-end;

  .block-text-field {
    padding: 4px;
  }

  .fix-height {
    height: 17px;
  }
}

.mdc-chip__text--editable {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.875rem;
}

.mdc-chip--button {
  border: none;
}
