:host {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Content */

.content {
  padding: 8px;
}

.content > p {
  white-space: pre-wrap;
}

.content .createdAt {
  padding-left: 10px;
}

:host ::ng-deep .ant-btn-circle {
  border: none;
}

.photoURLs {
  padding: 8px 8px 0 8px;
}

.photoURLs .item {
  flex: auto;
  width: 100px;
  max-width: 300px;
}

.photoURLs img {
  width: 100%;
}

/* Actions */

.actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0 10px 5px;
}

.actions .tag {
  padding: 5px 0;
}

.actions .edit {
  margin-left: 10px;
}

.actions .reply {
  margin-left: 5px;
}

.reply-content {
  padding: 0 10px 10px;
}

:host ::ng-deep .ant-tag-root .ant-tag {
  margin-right: 0;
  margin-left: 5px;
}
