<div class='photoURLs' nz-row nzType='flex' nzAlign='middle' nzJustify='start'>
  <div class='item' nz-col *ngFor='let photoURL of photoURLs'>
    <img [src]='photoURL|resize:resize'>
  </div>
</div>

<div class='content'>
  <ng-container *ngIf='content'>
    <p class='createdAt'>{{content}}<span class='createdAt'>- {{createdAtStr}}</span></p>
  </ng-container>
  <ng-container *ngIf='!content'>
    <p class='createdAt'><span class='createdAt'>- {{createdAtStr}}</span></p>
  </ng-container>
</div>

<div class='actions'>
  <nz-checkable-tag *ngFor='let tag of tags'
    class='tag'
    [nzChecked]='false'
    (click)='onUpdateTag(tag.name)'>
    {{tag.name}} {{tag.count}}
  </nz-checkable-tag>

  <span *ngIf='afa.authState|async' class='edit'>
    <button *ngIf='!isEditNewTag'
      nz-button
      [nzShape]='nzShape'
      [disabled]='isMutation'
      (click)='editNewTag()'>
      <i class='anticon anticon-plus'></i>
    </button>
    <nz-input *ngIf='isEditNewTag'
      nzType='text'
      style='width: 140px;'
      [(ngModel)]='newTag'
      [nzReadonly]='isMutation'
      [nzPlaceHolder]='nzPlaceHolder'
      (nzBlur)='onUpdateTag(newTag)'>
      <ng-template #prefix>
        <i *ngIf='isMutation' class='anticon anticon-loading anticon-spin'></i>
        <i *ngIf='!isMutation' class='anticon anticon-plus'></i>
      </ng-template>
    </nz-input>
  </span>

  <!--
  <button
    *ngIf='ownerId'
    class='reply'
    nz-button
    [nzShape]='nzShape'>
    <i class='anticon anticon-delete'></i>
  </button>
  -->

  <button
    class='reply'
    nz-button
    [nzShape]='nzShape'
    (click)='onOpenReply()'>
    <i *ngIf='isOpenReply' class='anticon anticon-up'></i>
    <i *ngIf='!isOpenReply' class='anticon anticon-down'></i>
  </button>

</div>

<div class='reply-content' *ngIf='isOpenReply'>
  <nz-card>
    <ng-template #body>
      <p>リプライ機能は開発中です。</p>
    </ng-template>
  </nz-card>
</div>
