:host {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.actions {
  padding-top: 10px;
}

.actions .input {
  margin-left: 10px;
}

.images {
  padding-top: 8px;
}

.images .image-avater {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}

.error {
  padding-top: 8px;
}
