:host > div {
  margin: 0 auto;
  max-width: 400px;
  padding: 8px;
}

.description {
  margin: 0 auto;
  padding-top: 40px;
}

/** Form */

.form {
  margin: 0 auto;
  padding-top: 40px;
}

.form-helper {
  padding-top: 8px;
  opacity: 0.8;
}

.down {
  padding: 0 0 24px;
  text-align: center;
  font-size: 14px;
}
