<app-header [goBack]='true'>
  <ng-template #title>
    識別子の更新
  </ng-template>
</app-header>

<div>
  <ng-container *ngIf='!isQuery && !isNotFound'>
    <div class='description'>
      <p>
        識別子はログインやプロフィールのURLに使用されます。<br />
        他のユーザと同じ識別子は使用できません。
      </p>
    </div>

    <!-- フォーム -->
    <div class='form'>
      <form nz-form [formGroup]='formGroup' (ngSubmit)='onMutate()'>
        <div nz-form-item>
          <div nz-form-label nz-col>
            <label>現在の識別子</label>
          </div>
          <div>
            <nz-input
              formControlName='currentUsername'
              [nzReadonly]='true'
              [nzSize]='nzSize'>
              <ng-template #prefix>
                <i class='anticon anticon-code-o'></i>
              </ng-template>
            </nz-input>
          </div>
          <p class='form-helper'>
            変更するとこの識別子でログインすることはできなくなります。
          </p>
        </div>

        <div class='down'>
          <i class='anticon anticon-down'></i>
        </div>

        <div nz-form-item>
          <div nz-form-label nz-col>
            <label nz-form-item-required>新しい識別子</label>
          </div>
          <div nz-form-control nzHasFeedback>
            <nz-input
              formControlName='newUsername'
              [nzPlaceHolder]='usernamePlaceHolder'
              [nzSize]='nzSize'>
              <ng-template #prefix>
                <i class='anticon anticon-code-o'></i>
              </ng-template>
            </nz-input>
          </div>
          <p class='form-helper'>
            この識別子でログインします。
          </p>
        </div>

        <div nz-row nzType='flex' nzJustify='end'>
          <span nz-col>
            <button nz-button (click)='onMutate()'>変更する</button>
          </span>
        </div>
      </form>
    </div>

    <!-- モーダル -->
    <nz-modal
      *ngIf='loginFormGroup'
      [nzVisible]='isShowModal'
      [nzTitle]='nzTitle'
      [nzContent]='content'
      [nzFooter]='footer'
      (nzOnCancel)='onCancelLogin()'>
      <ng-template #content>
        <form nz-form [formGroup]='loginFormGroup' (ngSubmit)='onLogin()'>
          <div nz-form-item>
            <div nz-form-label nz-col>
              <label nz-form-item-required>ユーザネーム</label>
            </div>
            <div nz-form-control>
              <nz-input formControlName='username' [nzSize]='nzSize' [nzReadonly]='true'>
                <ng-template #prefix>
                  <i class='anticon anticon-mail'></i>
                </ng-template>
              </nz-input>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-label nz-col>
              <label nz-form-item-required>パスワード</label>
            </div>
            <div nz-form-control>
              <nz-input formControlName='password' [nzSize]='nzSize' nzType='password'>
                <ng-template #prefix>
                  <i class='anticon anticon-key'></i>
                </ng-template>
              </nz-input>
            </div>
          </div>
        </form>
      </ng-template>
      <ng-template #footer>
        <div>
          <button nz-button [nzSize]='nzSize' (click)='onLogin()'>ログイン</button>
        </div>
      </ng-template>
    </nz-modal>
  </ng-container>
</div>
