.mat-drawer-container {
  height: 100%;
  overflow: auto;
  background: white;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.mat-sidenav {
  width: 70px;
  height: 100%;
  background: white;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.page {
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
}

::ng-deep textarea.ant-input {
  min-height: 28px;
  resize: none;
}
