.mat-drawer-container {
  height: 100%;
  overflow: auto;
  background: #F8F7F8;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.mat-sidenav {
  width: 70px;
  height: 100%;
  background: #F8F7F8;
}

.page {
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
}
