<div class="content">

  <div>

    <span class="mat-body-1">
      {{content}}
    </span>

    <span class="mat-caption createdAt">- {{createdAtStr}}</span>

  </div>

</div>

<div class="actions">

  <nz-checkable-tag *ngFor="let tag of tags"
                    class="tag"
                    [nzChecked]="false"
                    (click)="onUpdateTag(tag.name)">
    {{tag.name}} {{tag.count}}
  </nz-checkable-tag>

  <span *ngIf="afa.authState|async" class="edit">

    <button *ngIf="!isEditNewTag"
            nz-button
            nzSize="default"
            nzShape="circle"
            [disabled]="isMutation"
            (click)="editNewTag()">
      <i class="anticon anticon-plus"></i>
    </button>

    <nz-input *ngIf="isEditNewTag"
              nzType="text"
              style="width: 140px;"
              [(ngModel)]="newTag"
              [nzReadonly]="isMutation"
              [nzPlaceHolder]="nzPlaceHolder"
              (nzBlur)="onUpdateTag(newTag)">
      <ng-template #prefix>
        <i *ngIf="isMutation" class="anticon anticon-loading anticon-spin"></i>
        <i *ngIf="!isMutation" class="anticon anticon-plus"></i>
      </ng-template>
    </nz-input>

  </span>

  <button class="reply"
          nz-button
          nzSize="default"
          nzShape="circle"
          (click)="onOpenReply()">
    <i *ngIf="isOpenReply" class="anticon anticon-up"></i>
    <i *ngIf="!isOpenReply" class="anticon anticon-down"></i>
  </button>

</div>

<div class="reply-content" *ngIf="isOpenReply">

  <nz-card>
    <ng-template #body>
      <p>リプライ機能を開発しています。</p>
    </ng-template>
  </nz-card>

</div>