<div class="content">
  <p class="createdAt">{{updatedAt|date:date}}</p>
  <ng-container *ngIf="content">
    <p><a routerLink="/posts/{{id}}">{{content}}</a><span class="count">+ {{repliedPostCount}}</span></p>
  </ng-container>
  <ng-container *ngIf="!content">
    <p><a routerLink="/posts/{{id}}">無名スレッド</a><span class="count">+ {{repliedPostCount}}</span></p>
  </ng-container>
</div>

<div class="reply-content" *ngIf="isOpenReply">
  <nz-card>
    <ng-template #body>
      <p>リプライ機能は開発中です。</p>
    </ng-template>
  </nz-card>
</div>
