:host ::ng-deep .ant-layout-content {
  padding: 0 8px;
}

/* Template Post */

.template-post {
  margin: 0 auto;
  max-width: 800px;
}

/* Template Message */

.template-message {
  padding-top: 32px;
  text-align: center;
  font-size: 16px;
}

/* Template Card Editor */

.template-card-editor {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 800px;
}

/* Template Replied Posts */

.template-replied-posts {
  margin: 0 auto;
  max-width: 800px;
}

.template-replied-posts .card {
  padding-top: 16px;
}
