:host {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .ant-layout-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: 0 8px 40px;
}

/* Template Post */

.template-post {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

/* Template Message */

.template-message {
  padding-top: 16px;
  text-align: center;
  font-size: 16px;
}

/* Template Editor */

.template-editor {
  margin: 0 auto;
  padding-top: 16px;
  width: 100%;
  max-width: 800px;
}

/* Template Replied Posts */

.template-replied-posts {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.template-replied-posts .card {
  padding-top: 16px;
}
