<!-- リスト -->
<mat-list>

  <!-- ログインしている -->
  <mat-list-item class='auth' *ngIf='afAuth.authState | async'>

    <button mat-icon-button routerLink='/{{afAuth.auth.currentUser.uid}}'>
      <mat-icon>account_circle</mat-icon>
    </button>

  </mat-list-item>

  <!-- ログインしていない -->
  <mat-list-item class='auth' *ngIf='!(afAuth.authState | async)'>

    <button mat-icon-button (click)='onLoginClick()'>
      <mat-icon>account_circle</mat-icon>
    </button>

  </mat-list-item>

  <!-- メニューの項目 -->
  <mat-list-item *ngFor='let link of links'>

    <button mat-icon-button [routerLink]='link.path'>
      <mat-icon>{{link.icon}}</mat-icon>
    </button>

  </mat-list-item>

</mat-list>
