<nz-card class="template-card">
  <ng-template #body>
    <form nz-form [formGroup]="formGroup">
      <nz-input
        formControlName="content"
        nzType="textarea"
        [nzDisabled]="isMutation"
        [nzAutosize]="true"
        [nzPlaceHolder]="placeHolder">
      </nz-input>
    </form>

    <div class="template-actions" nz-form-control>
      <div nz-row nzType="flex" nzJustify="end" nzAlign="middle" [nzGutter]="8">
        <span nz-col>
          <nz-upload
            *ngIf="afAuth.authState|async"
            [nzShowUploadList]="false"
            [(nzFileList)]="fileList">
            <button nz-button>
              <i class="anticon anticon-link"></i>
              <span>画像</span>
            </button>
          </nz-upload>
        </span>
        <span nz-col>
          <button
            nz-button
            (click)="onAddPost()"
            [nzLoading]="isMutation">
            <span>リプライ</span>
          </button>
        </span>
      </div>
    </div>

    <div *ngIf="fileList[0]" class="template-images">
      <nz-avatar
        *ngFor="let file of fileList"
        class="image-avater"
        nzShape="square"
        nzSize="large"
        [nzSrc]="file.thumbUrl">
      </nz-avatar>
    </div>
  </ng-template>
</nz-card>
