:host ::ng-deep .ant-card-body {
  padding: 8px;
}

.template-actions {
  padding-top: 8px;
}

.template-actions .input {
  margin-left: 8px;
}

.template-images {
  padding-top: 8px;
}

.template-images .image-avater {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
