<app-header [goBack]='true'>
  <ng-template #title>
    パスワード
  </ng-template>
</app-header>

<div>
  <ng-container *ngIf='!isQuery && !isNotFound'>
    <!-- Form -->
    <div class='form'>
      <form nz-form [formGroup]='formGroup' (ngSubmit)='onMutate()'>
        <!-- Current Password -->
        <div nz-form-item>
          <div nz-form-label nz-col>
            <label>現在のパスワード</label>
          </div>
          <div>
            <nz-input
              formControlName='currentPassword'
              nzType='password'
              [nzSize]='nzSize'>
              <ng-template #prefix>
                <i class='anticon anticon-key'></i>
              </ng-template>
            </nz-input>
            <div
              nz-form-explain
              *ngIf="password.dirty && password.hasError('auth/weak-password')">
              パスワードが弱すぎます
            </div>
          </div>
          <p class='form-helper'>
            現在のパスワードを入力してください。
          </p>
        </div>

        <div class='down'>
          <i class='anticon anticon-down'></i>
        </div>

        <!-- New Password -->
        <div nz-form-item>
          <div nz-form-label nz-col>
            <label nz-form-item-required>新しいパスワード</label>
          </div>
          <div nz-form-control nzHasFeedback>
            <nz-input
              formControlName='password'
              [nzPlaceHolder]='passwordPlaceHolder'
              nzType='password'
              [nzSize]='nzSize'>
              <ng-template #prefix>
                <i class='anticon anticon-key'></i>
              </ng-template>
            </nz-input>
            <div
              nz-form-explain
              *ngIf="password.dirty && password.hasError('auth/weak-password')">
              パスワードが弱すぎます
            </div>
          </div>
          <p class='form-helper'>
            このパスワードでログインします。
          </p>
        </div>

        <!-- Submit -->
        <div nz-row nzType='flex' nzJustify='end'>
          <span nz-col>
            <button nz-button [nzSize]='nzSize' (click)='onMutate()'>変更する</button>
          </span>
        </div>
      </form>
    </div>
  </ng-container>
</div>
