.mdc-typography {
  padding-left: 8px;
  padding-right: 8px;
}

.mdc-text-field--padding {
  padding-left: 8px;
}

.block-form {
  padding-top: 24px;
}

.block-form-submut {
  padding-top: 24px;
  padding-left: 8px;
}
