<app-header></app-header>

<div>

  <!-- タイトル -->
  <div class="title">
    <h1>S<span class="line">/</span>w</h1>
  </div>

  <!-- フォーム -->
  <div class="form">

    <form nz-form [formGroup]="formGroup">

      <!-- Email -->
      <div nz-form-item>
        <div nz-form-control nzHasFeedback>
          <nz-input
            formControlName="username"
            [nzPlaceHolder]="usernamePlaceHolder"
            [nzSize]="nzSize">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div *ngIf="emailError" nz-form-explain>
            {{emailError}}
          </div>
        </div>
      </div>

      <!-- Password -->
      <div nz-form-item>
        <div nz-form-control nzHasFeedback>
          <nz-input
            formControlName="password"
            nzType="password"
            [nzPlaceHolder]="passwordPlaceHolder"
            [nzSize]="nzSize">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div *ngIf="passwordError" nz-form-explain>
            {{passwordError}}
          </div>
        </div>
      </div>

      <!-- Login -->
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="isMutate">
          <div nz-row nzType="flex" nzAlign="middle" nzGutter="8" nzJustify="end">
            <span nz-col>
              <button
                nz-button
                [nzSize]="nzSize"
                [disabled]="isMutate"
                (click)="onSignUp($event)">登録</button>
            </span>
            <span class="or">or</span>
            <span nz-col>
              <button
                nz-button
                nzType="primary"
                [nzSize]="nzSize"
                [disabled]="isMutate"
                (click)="onSignIn($event)">ログイン</button>
            </span>
          </div>
        </div>
      </div>

    </form>

  </div>

</div>
