:host {
  padding: 10px 10px 0;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.actions .input {
  margin-left: 10px;
}

.error {
  padding-top: 10px;
}
