<form nz-form [formGroup]="formGroup">

  <div nz-form-control>
    <nz-input formControlName="content"
              nzType="textarea"
              [nzAutosize]="nzAutosize"
              [nzPlaceHolder]="nzPlaceHolder"
              [nzDisabled]="isMutation">
    </nz-input>
  </div>

  <div class="actions" nz-form-control>

    <button class="input"
            nz-button
            [disabled]="isMutation">
      <i class="anticon anticon-link"></i>
      <span>画像</span>
    </button>

    <button class="input"
            nz-button
            (click)="onAddPost()"
            [nzLoading]="isMutation">
      <span>送信</span>
    </button>

  </div>

</form>
